@page "/"
@page "/products"
@using MauiStore.Models;
@using MauiStore.Services;
@inject IProductService Service;

<h3>Productos</h3>

@if (_product == null)
{
    <p><em>No se estrese, ta cargado...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var res in _product)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="@res.images.FirstOrDefault()" alt="Product Image">
                        <div class="card-body">
                            <h2 class="card-title fs-4">@res.title</h2>
                            <p class="card-text">Precio: $@res.price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


}

@code {
    private List<Product> _product;

    protected override  async Task OnInitializedAsync()
    {
        _product = await Service.Get();

    }
}

